.login-container {
  display: flex;
  height: 100vh;
}

.login-form-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  margin-bottom: 2rem;
  font-weight: bold;
}

.login-message {
  margin-bottom: 1rem;
}

.login-message--error {
  color: red;
}

.login-message--success {
  color: green;
}

.login-button-link {
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* For the error message text */
.signup-error {
  color: red; /* Error text color */
  font-size: 0.875rem; /* Make the text smaller (14px) */
  margin: 1px; /* Reduce vertical spacing between messages */
  line-height: 1.2; /* Adjust the line height for compactness */
}
